src/conf/xml-resources/web-service-references/CurrencyConversionWSService/wsdl/localhost_8080/CurrencyConvertor/CurrencyConversionWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://DOCwebServices/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://DOCwebServices/" name="CurrencyConversionWS">
<types>
<xsd:schema>
<xsd:import namespace="http://xml.netbeans.org/schema/Currency" schemaLocation="http://localhost:8080/CurrencyConvertor/CurrencyConversionWS?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://DOCwebServices/" schemaLocation="http://localhost:8080/CurrencyConvertor/CurrencyConversionWS?xsd=2"/>
</xsd:schema>
</types>
<message name="saveCurrencyRate">
<part name="parameters" element="tns:saveCurrencyRate"/>
</message>
<message name="saveCurrencyRateResponse">
<part name="parameters" element="tns:saveCurrencyRateResponse"/>
</message>
<message name="getCurrencyCodes">
<part name="parameters" element="tns:getCurrencyCodes"/>
</message>
<message name="getCurrencyCodesResponse">
<part name="parameters" element="tns:getCurrencyCodesResponse"/>
</message>
<message name="getConversionRate">
<part name="parameters" element="tns:getConversionRate"/>
</message>
<message name="getConversionRateResponse">
<part name="parameters" element="tns:getConversionRateResponse"/>
</message>
<message name="CurrencyNotFoundException">
<part name="fault" element="tns:CurrencyNotFoundException"/>
</message>
<message name="listLatestCurrencyRates">
<part name="parameters" element="tns:listLatestCurrencyRates"/>
</message>
<message name="listLatestCurrencyRatesResponse">
<part name="parameters" element="tns:listLatestCurrencyRatesResponse"/>
</message>
<message name="ProviderNotAvailableException">
<part name="fault" element="tns:ProviderNotAvailableException"/>
</message>
<message name="listSavedCurrencies">
<part name="parameters" element="tns:listSavedCurrencies"/>
</message>
<message name="listSavedCurrenciesResponse">
<part name="parameters" element="tns:listSavedCurrenciesResponse"/>
</message>
<portType name="CurrencyConversionWS">
<operation name="saveCurrencyRate">
<input wsam:Action="http://DOCwebServices/CurrencyConversionWS/saveCurrencyRateRequest" message="tns:saveCurrencyRate"/>
<output wsam:Action="http://DOCwebServices/CurrencyConversionWS/saveCurrencyRateResponse" message="tns:saveCurrencyRateResponse"/>
</operation>
<operation name="getCurrencyCodes">
<input wsam:Action="http://DOCwebServices/CurrencyConversionWS/getCurrencyCodesRequest" message="tns:getCurrencyCodes"/>
<output wsam:Action="http://DOCwebServices/CurrencyConversionWS/getCurrencyCodesResponse" message="tns:getCurrencyCodesResponse"/>
</operation>
<operation name="getConversionRate">
<input wsam:Action="http://DOCwebServices/CurrencyConversionWS/getConversionRateRequest" message="tns:getConversionRate"/>
<output wsam:Action="http://DOCwebServices/CurrencyConversionWS/getConversionRateResponse" message="tns:getConversionRateResponse"/>
<fault message="tns:CurrencyNotFoundException" name="CurrencyNotFoundException" wsam:Action="http://DOCwebServices/CurrencyConversionWS/getConversionRate/Fault/CurrencyNotFoundException"/>
</operation>
<operation name="listLatestCurrencyRates">
<input wsam:Action="http://DOCwebServices/CurrencyConversionWS/listLatestCurrencyRatesRequest" message="tns:listLatestCurrencyRates"/>
<output wsam:Action="http://DOCwebServices/CurrencyConversionWS/listLatestCurrencyRatesResponse" message="tns:listLatestCurrencyRatesResponse"/>
<fault message="tns:ProviderNotAvailableException" name="ProviderNotAvailableException" wsam:Action="http://DOCwebServices/CurrencyConversionWS/listLatestCurrencyRates/Fault/ProviderNotAvailableException"/>
</operation>
<operation name="listSavedCurrencies">
<input wsam:Action="http://DOCwebServices/CurrencyConversionWS/listSavedCurrenciesRequest" message="tns:listSavedCurrencies"/>
<output wsam:Action="http://DOCwebServices/CurrencyConversionWS/listSavedCurrenciesResponse" message="tns:listSavedCurrenciesResponse"/>
</operation>
</portType>
<binding name="CurrencyConversionWSPortBinding" type="tns:CurrencyConversionWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="saveCurrencyRate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCurrencyCodes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getConversionRate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CurrencyNotFoundException">
<soap:fault name="CurrencyNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="listLatestCurrencyRates">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ProviderNotAvailableException">
<soap:fault name="ProviderNotAvailableException" use="literal"/>
</fault>
</operation>
<operation name="listSavedCurrencies">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CurrencyConversionWS">
<port name="CurrencyConversionWSPort" binding="tns:CurrencyConversionWSPortBinding">
<soap:address location="http://localhost:8080/CurrencyConvertor/CurrencyConversionWS"/>
</port>
</service>
</definitions>